@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-bg {
    background: linear-gradient(90deg, #53269d 0%, #6d31d0 100.2%);
  }
}
@layer components {
  .bar {
    transition: all 0.3s ease-out;
  }
  .active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
@layer components {
  .sliding-menu {
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .open-slide {
    transform: translate(0);
  }
}
@layer utilities {
  .laptop-gradient {
    background: linear-gradient(
      -270deg,
      #fff 62.06%,
      rgba(255, 255, 255, 0.77) 71.73%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .phone-gradient {
    background: linear-gradient(
      180deg,
      #fff 62.06%,
      rgba(255, 255, 255, 0.77) 78.73%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
